<h1>CEL Boardgame</h1>
<ul>
  <li><%= link_to "Quest Cards", quests_path %></li>
  <li><%= link_to "Helper Cards", helpers_path %></li>
  <li><%= link_to "Modifiers", modifiers_path %></li>
  <li><%= link_to "Geographies", geographies_path %></li>
</ul>
