.quest_wrapper, .helper_wrapper {
  width: 400px;
  margin-bottom: 10px;
  margin-right: 10px;
  float: left;
}


.quest_card, .helper_card {
  width: 400px;
  border: black solid;
  height: 450px;
  position: relative;
}

.helper_card {
  height: 250px;
}

.quest_header, .helper_header {
  padding: 10px;
  background: yellow;
  font-weight: bold;
  overflow: auto;

  .roll {
    color: blue;
  }

  .title {
    text-align: center;
  }

  .points {
    float: right;
    color: orange;
  }
}

.quest_picture, .helper_picture {
  height: 200px;
  padding: 10px;
  text-align: center;
  img {
    border: 2px solid black;
  }
}

.quest_text, .helper_text {
  padding: 10px;
}

.quest_modifiers, .helper_modifiers {
  padding: 10px;
}

.quest_bottom, .helper_bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  height: 20px;
  font-weight: bold;
  padding-top: 5px;
  padding-bottom: 5px;
}

.player {
  clear: both;
}

.player_helpers {
  clear: both;
}

// Edit styles
.right {
  width: 49%;
  float: left;
}
.left {
  width: 450px;
  float: left;
}


